// app global css in SCSS form
.bg-primary {
  background-color: $primary;
  color: white;
}
.dialog-header {
  font-size: x-large;
}
.dialog-body {
  font-style: italic;
  padding: 0 1em 0 1em;
}
.optional-form-action {
  color: gray
}

h1 {
  color: blue;
}

.text-menuheader {
  color: #000 !important;
}
.bg-menuheader {
  background: #444 !important;
}
.navbar-brand-link {
  color: $logo;
  text-decoration: none;
}

.navbar-text-link {
  color: $primary;
  text-decoration: none;
}

.body--light {
  /* ... */
}

.body--dark .md-editor {
  --md-color: white !important;
  --md-bk-color: #1D1D1D !important;
}
