// app global css in SCSS form
.bg-primary {
  background-color: $primary;
  color: white;
}
.dialog-header {
  font-size: x-large;
}
.dialog-body {
  padding: 0 1em 0 1em;
}
.dialog-instructions {
  font-style: italic;
  padding: 0 1em 0 1em;
}
.optional-form-action {
  color: gray
}

h1 {
  color: blue;
}

.text-menuheader {
  color: #000 !important;
}
.bg-menuheader {
  background: #444 !important;
}
.navbar-brand-link {
  color: $logo;
  text-decoration: none;
}

.navbar-text-link {
  color: $primary;
  text-decoration: none;
}

.body--light .u-card-toolbar {
  --u-card-toolbar-color: white ;
  --u-card-toolbar-bg-color: #{$blue-7};
}

.body--light .u-dialog-toolbar {
  --u-dialog-toolbar-color: white;
  --u-dialog-toolbar-bg-color: #{$blue-8};
}

.body--light .u-btn-cta {
  --u-btn-cta-color:white ;
  --u-btn-cta-bg-color: #{$cta};
}

.body--light .md-editor {
  background-color: #{$grey-1} !important;
}

.body--dark .md-editor {
  --md-color: white !important;
  --md-bk-color: #1D1D1D !important;
}

.body--dark .u-card-toolbar {
  --u-card-toolbar-color:#{$grey-1};
  --u-card-toolbar-bg-color: #{$grey-9};
}

.body--dark .u-dialog-toolbar {
  --u-dialog-toolbar-color:#{$grey-1};
  --u-dialog-toolbar-bg-color: #{$grey-8};
}

.body--dark .u-btn-cta {
  --u-btn-cta-color: white ;
  --u-btn-cta-bg-color: #{$cta};
}

.body--light  .u-card {
  background-color: #{$grey-1};
}

.body--light  .u-dialog {
  background-color: #{$grey-2};
  min-width: 350px
}

.u-card-toolbar {
  color: var(--u-card-toolbar-color);
  background-color: var(--u-card-toolbar-bg-color);
}

.u-dialog-toolbar {
  color: var(--u-dialog-toolbar-color);
  background-color: var(--u-dialog-toolbar-bg-color);
}

.u-btn-cta {
  color: var(--u-btn-cta-color);
  background-color: var(--u-btn-cta-bg-color);
}
