// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$logo   : #71ABF8;
$navbar-txt-lt: #455A64;
$navbar-txt-dk: #FBFBFB;
$primary: #747BFF;
$secondary : #26A69A;
$accent    : #9C27B0;
$cta       : #D84314; // deep-orange-9

$dark      : #1D1D1D;
$dark-page : #121212;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

$shd-p-10: #686fe6;
$shd-p-20: #5d62cc;
$shd-p-30: #5156b3;
$shd-p-40: #464a99;
$shd-p-50: #3a3e80;
$shd-p-60: #2e3166;
$shd-p-70: #23254c;
$shd-p-80: #171933;
$shd-p-90: #0c0c19;

$tnt-p-10: #8288ff;
$tnt-p-20: #9095ff;
$tnt-p-30: #9ea3ff;
$tnt-p-40: #acb0ff;
$tnt-p-50: #babdff;
$tnt-p-60: #c7caff;
$tnt-p-70: #d5d7ff;
$tnt-p-80: #e3e5ff;
$tnt-p-90: #f1f2ff;

